@charset "utf-8";
/* CSS Document */
p {
	color: darkblue;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 700px;
	background-color: beige;
	padding: 20px;
}
.paragraf_2 {color:darkcyan; background-color: rgba(255, 255, 255, 0.5)}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin: 20px;
	width: 50%;
}
h1{
	color: royalblue;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
	
}
h2{
	color: darkgreen;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}

body{
	background-image: url("slike/pozadina.jpg");
}

a:link{
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}

a:hover{
	background-color: lightgray;
}